body{
    background-image: url("./images/gato.gif");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #eaeaea;
}

.container{
    position: relative;
    width: 600px;
    height: 200px;
    margin:auto;
    text-align: center;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50px;

}

.bar{
    width: 90%;
    height: 8px;
    border:2px solid black;
    border-radius: 12px;
    margin:auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

progress{
    height: 8px;
    width: 0%;
}

.point{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: -10px;
    background-color: rgb(156, 9, 38);
}

.time{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.description{
    background-color: black;
    font-size: 2rem;
    height: 40px;
    margin:2px auto;
    border-radius: 8px;

}

.controls{
    cursor: pointer;

}

.btn{
    width: 40px;
    padding: 10px;
    position: relative;
}

@media screen and (max-width:600px){
    body, .container{
        width: auto;
    }
    .btn{
        width: 25px;
        padding: 5px;
    }
}