body{
    background-image: url("./images/gato.gif");
    background-size: 100vw 100vh;

}

.container{
    position: relative;
    width: 600px;
    margin-top: 50px;
    text-align: center;
}

.controls{
    width: 100%;
    background-color: rgb(154, 123, 184);
    border: 3px solid rgb(156, 9, 38);
    border-radius: 20px;
}

.btn{
    width: 40px;
    padding: 10px;
}